#magnet-testimonial-form .field-container {
  position: relative;
  margin-bottom: 20px;
}

#magnet-testimonial-form .field-msg {
  display: none;
  position: absolute;
  left: 2px;
  bottom: -14px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
}

#magnet-testimonial-form .field-msg.show {
  display: block;
}

#magnet-testimonial-form .error {
  color: #901313;
}

#magnet-testimonial-form .success {
  color: #2f812f;
}
